<div class="center">
  <h1>Cristóbal Rosa</h1>
  <h2>Angular - Material UI Tutorial</h2>

  <button matBadge="1" matBadgeColor="accent" mat-raised-button color="primary">Welcome</button>
  <br>
  <br>
  <div>
    <button matBadge="1" matBadgeColor="accent" matBadgeSize="small" mat-raised-button color="primary">Welcome</button>
  </div>
  <br>
  <br>
  <div>
    <button matBadge="1" matBadgeColor="accent" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false" mat-raised-button color="primary">Welcome</button>
  </div>
  <br>
  <br>
  <mat-icon matBadge="3" matBadgeColor="accent" matBadgeSize="small">home</mat-icon>
</div>

